<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.choi.knocktalk">
    <uses-sdk android:minSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/noti_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Loading.LoadingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".FingerPrint.FingerPrintDialog"
            android:theme="@style/Theme.AppCompat.Dialog"
            />
        <activity android:name=".Dialog.First_OK_Dialog"
            android:theme="@style/Theme.AppCompat.Dialog"
            />
        <activity android:name=".Dialog.First_NOT_DIalog"
            android:theme="@style/Theme.AppCompat.Dialog"
            />
        <activity android:name=".Dialog.Police_dialog"
            android:theme="@style/Theme.AppCompat.Dialog"
            />
        <activity android:name=".Dialog.DownLoad_Progress"
            android:theme="@style/Theme.AppCompat.Dialog"
            />
        <activity android:name=".Setting_Dialog.Lock_style_dialog"
            android:theme="@style/Theme.AppCompat.Dialog"

            />
        <activity android:name=".Setting.PassWordActivity"
            android:theme="@style/Theme.AppCompat.Dialog"
            />
        <activity android:name=".Setting.SettingActivity"
            android:parentActivityName=".Main.MainActivity"
            />
        <activity android:name=".Setting.Set_password"
            />
        <service android:name=".Service.MoveService"/>
    </application>

</manifest>